body {
  font: 12px Arial;
}

path {
  /* stroke: steelblue; */
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 220px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid #dadada;
  border-radius: 2px;
  pointer-events: none;
}

div.tooltip-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
}

span.tooltip-arrow {
  position: relative;
}

.tooltip-arrow:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: 8px;
  left: -119px;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  transform: rotate(135deg);
}

svg circle {
  opacity: 0.2;
}

svg circle:hover {
  opacity: 0.9;
}
